@viewport {
    width: device-width;
    zoom: 1;
}

body{
    max-width: 90%;
    background-color: cornflowerblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: normal;
    height: 100%;
}    

p{
    text-align: justify;
}

#nice{
    background-color: crimson;
    margin: auto;
    max-width: 80%;  
}

#one{
    position: relative;
    overflow: auto;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 48px;
    padding-left: 40px;
}


.ok{
    width: 50%;
    height: 50%;
    border-radius: 100px;
}

h1{
    text-align: center;
}

.two{
    float: left;
    width: 45%;
    border-radius: 20px;
    margin: 20px;
}

.four{
    float: left;
    background-color: white;
    width: 42%;
    margin: 1%;
    padding-left: 5%;
    align-items: center;
    justify-content: center;
    text-align: justify;
    border-radius: 30px;
}


form{
    text-align: justify;
    padding: 2%;
    line-height: 2px;
    margin: auto;
    max-width: 90%;  
}


label{
    font-size: 12px;
    margin-bottom: 4px;
    line-height: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
input{
    outline: none;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 4px 4px 4px 4px;
    background-color: #edf2f7;
    width: 95%;
    border-style: none;
}

textarea{
    outline: none;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 4px 4px 4px 4px;
    background-color: #edf2f7;
    width: 95%;
    border-style: none;
}

button{
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: rgb(8, 62, 158);
    border-radius: 12px 12px 12px 0px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    width: 99%;
    outline: none;
    margin-top: 3%;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 16px;
    border-style: none;
    cursor: pointer;
}